@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@300;400;500&display=swap');

* {
    margin-top: 0;
    padding: 0;
}

body {
    margin-top: 70px;
    font-family: 'poppins', 'arial';
}

.btn {
    background-color: yellow;
    color: black;
}

.btn:hover {
    background-color:gainsboro;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.underline {
    text-decoration: underline yellow 2px;
    padding: 0 !important;
}

/*navbar*/
nav {
    width: 100%;
    font-size: 17px;
    height: 70px;
    background-color: white;
    border-bottom: 2px solid whitesmoke;
}

nav ul {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

nav ul li {
    background-color: #ffffff;
    margin-right: 5px;
    text-align: center;
}

nav .active {
    border-left: 6px solid #5A31AD;
    background-color: whitesmoke;
}

.active>.nav-link {
    color: #5A31AD !important;
    font-weight: 500;
}


nav img {
    width: 60vw;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0) !important;
}

/*callout*/
.callout {
    margin-top: 110px;
    font-size: 14px;
    text-align: center;
}

.callout span {
    position: relative;
}

.callout .highlight {
    position: absolute;
    bottom: -0.20rem;
    width: 100%;
}

.callout .highlight-big {
    width: 100%;
    position: absolute;
    bottom: 3px;
}

.callout img {
    width: 100%;
}

.callout-heading {
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}

.callout-heading p {
    padding-top: 6px;
}

.callout-heading h2 {
    font-family: 'Patrick Hand', cursive;
}

.large-hero {
    display: none;
}

/*reviews*/
.reviews {
    width: 100%;
    text-align: center;
}

.large-border {
    display: none;
}

blockquote {
    line-height: 1.9rem;
    font-size: 18px;
}

.carousel-inner {
    padding: 35px 60px 65px 60px;
    text-decoration: underline solid yellow 3px;
}

.carousel-indicators li {
    background-color: #5A31AD;
}

.carousel-control-prev {
    width: 10% !important;
}

.carousel-control-next {
    width: 10% !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

/*About us*/
video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.about-us {
    text-align: center;
    padding: 2.5rem;
}

.achievements {
    background-color: #8F73C7;
}

/* Our Values */
.our-values {
    text-align: center;
    padding: 2.5rem;
}

.our-values-section img {
    width: 100%;
}

/* Gallery */
#gallery-header{
    height: 30vh;
}

#gallery-header h2 {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 2px;
}

.gallery-heading {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: 4rem;
}

.gallery-heading img {
    width: 50px;
}

.gallery-container {
    width: 100%;
    color: white;
}

.gallery-border {
    width: 100%;
}

.gallery-container p {
    text-align: center;
    font-weight: 500;
}

.gallery-container a {
    color: white;
}

.gallery-row {
    background-color: #5A31AD;
}

.gallery-images {
    padding: 0 15px 15px 15px;
}

.gallery-icon-white {
    display: none;

}

#section-two {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    color: black;
}


.gallery-images img {
    padding: 4px;
    border-radius: 5%;
}

.gallery-images p {
    text-align: center;
    color: white;
}

.gallery-text {
    padding: 0 1.5rem;
}


a:hover {
    text-decoration: underline 2px yellow;
}


/* Contact Us */
.contact-us-header {
    margin-top: 70px !important;
    width: 100%;
}

.contact-us-info {
    width:400px;
    margin:0 auto;
    padding-top: 2.5rem;
}

.contact-us-info ul {
    width:320px;
    margin: 0 auto;
    padding: 10px 0 10px 65px;
}

.contact-us-info img {
    width:50px;
}


.contact-us-info li i {
    margin-right: 10px;
}

.contact-icon-white {
    display: none;
}

.contact-us-header h2 {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1px;
}

.contact-us-header ul {
    list-style-type: none;
}

/* Form */
.form-container {
    background-color: #5A31AD;
    color: white;
    padding-top: 2rem;
}

.form-heading {
    text-align: center;
}

.text-muted {
    color: yellow !important;
}

.form-section {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

form h4 {
    text-align: center;
}

form button {
    padding: 0 20px;
}

form textarea {
    resize: none;
    height: 7rem !important;
}

.form-map-header {
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding-top: 2rem;
}

.form-map input {
    width: 50%;
    height: 2rem;
}

.map-search {
    width: 100%;
}

.map-search i {
    background-color: yellow;
    padding: 7px;
    color:black;
}

iframe {
    width: 100%;
}

/*footer*/
footer {
    background-color: lightgrey;
    height: 50px;
}

.social-icons {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icons li {
    list-style:none;
}

.social-icons li i{
    color:#000000;
}


.social-icons li a i {
    margin: 0 auto;
}

/*sm responsive*/
@media (min-width: 575px) {
    nav ul {
        box-shadow: none;
    }
    
    nav ul li {
        background:none;
    }

    nav .active {
        border-left: none;
    }

    nav img {
        width:35vw;
    }
}

/* md responsive */
@media (min-width: 768px) {
    .our-values-section {
        width: 100%;
    }

    .our-values {
        padding-top: 10%;
    }

    .our-values-img {
        width: 100%;
        height: 100%;
    }

    .our-values-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

/*lg responsive*/
@media (min-width: 992px) {

    nav img {
        width: 15rem;
    }

    i {
        color: black;
    }

    .callout {
        width: 100%;
        background-color: #5A31AD;
        margin-top: 70px;
        height: 80vh;
    }

    .callout div {
        text-align: left;
        color: black;
        font-size: 20px;
        height: 100%;
    }

    .callout-heading {
        padding: 65px 45px;
    }

    .callout h2 {
        color: white;
        font-size: 3.5rem;
    }

    .callout-heading h5 {
        color:yellow;
    }

    .large-hero {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mobile-hero {
        display: none;
    }

    .border-container {
        width: 100%;
        position: relative;
    }

    .large-border {
        width: 100%;
        display: block;
        position: absolute;
        bottom: -2rem;
        left: 0;
    }

    .carousel-indicators {
        bottom: 14px;
    }

    .carousel-inner {
        width: 85%;
        margin: 0 auto;
        border-radius: 0;
        text-align: center;
        height: 310px;
        padding-top: 25px;
    }

    .about-us-section {
        background-color: #ffffff;
    }

    #gallery-header {
        height: 40vh;
        color: white;
        background: url(../images/gallery-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #gallery-header h2 {
        font-size: 40px;
        color: yellow;
    }

    #gallery-header h4 {
        color: yellow;
    }

    .gallery-row {
        background-color: white;
    }

    .gallery-border {
        display: none;
    }

    .gallery-container {
        background-color: #5A31AD;
    }

    .gallery-container a {
        color: black;
        text-decoration: underline #5A31AD 2px;
    }

    .gallery-text {
        color: black;
    }

    .gallery-icon-purple {
        display: none;
    }

    .gallery-icon-white {
        display: inline-block;
    }

    .underline {
        text-decoration: underline #5A31AD 2px;
    }

    #section-two {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .text-2 {
        display: none;
    }

    .contact-us-header {
        height: 40vh;
        background: url(../images/contact-bg.png) center center no-repeat;
        background-size: cover;
        color: white;
    }

    .contact-us-header h2 {
        font-size: 40px;
        color: yellow;
    }

    .contact-us-header i {
        color: white;
    }

    .contact-us-info {
        padding-top: 3rem;
    }

    .contact-icon-purple {
        display: none;
    }

    .contact-icon-white {
        display:inline-block;
    }

    .text-muted {
        color: darkslategray !important;
    }

    .form-container {
        width: 100%;
        background-color: #ffffff;
        color: #000000;
    }

    .form-section {
        padding-left: 3rem;
    }

    .form-map-header {
        padding-top: 0;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .map {
        padding-right: 2rem;
    }
}

