@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@300;400;500&display=swap');

* {
    margin-top: 0;
    padding: 0;
}

body {
    margin-top: 70px;
    font-family: 'poppins', 'arial';
}

.btn {
    background-color: yellow;
    color: black;
}

i {
    color: black;
    margin-right: 1rem;
}

.underline {
    text-decoration: underline 2px yellow;
}

/*navbar*/
nav {
    width: 100%;
    font-size: 17px;
    height: 70px;
    border-bottom: 2px solid whitesmoke;
}

nav li {
    margin-right: 5px;
}

nav .active {
    font-weight: 500;
    text-decoration: underline 4px yellow;
}

nav img {
    width: 13rem;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0) !important;
}

/*callout*/
.callout {
    margin-top: 110px;
    font-family: 'Patrick Hand', cursive;
}

.callout img {
    width: 100%;
}

.callout div {
    text-align: center;
    font-size: 18px;
}

.callout-heading {
    padding-left: 35px;
    padding-right: 35px;
}

.callout-heading p {
    padding-top: 6px;
}

.large-hero {
    display: none;
}

/*reviews*/
.reviews {
    width: 100%;
    text-align: center;
}

.large-border {
    display: none;
}

blockquote {
    line-height: 1.9rem;
    font-size: 18px;
}

.carousel-inner {
    padding: 35px 60px 65px 60px;
}

.carousel-indicators li {
    background-color: #5A31AD;
}

.carousel-control-prev {
    width: 10% !important;
}

.carousel-control-next {
    width: 10% !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

/*About us*/
.about-us {
    text-align: center;
    padding: 2.5rem;
}

video {
    height: 100%;
}

.achievements {
    background-color: #8F73C7;
}

/* Our Values */
.our-values {
    text-align: center;
    padding: 2.5rem;
}

.our-values-section img {
    width: 100%;
}

/* Gallery */
#gallery-header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.gallery-heading {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: 4rem;

}

.gallery-container {
    width: 100%;
    font-size: 15px;
    color: white;
}

.gallery-border {
    width: 100%;
}

.gallery-border-white {
    display: none;
}

.gallery-container p {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.gallery-container a {
    color: white;
}

.gallery-row {
    background-color: #5A31AD;
}

.gallery-images {
    padding: 15px;
}

#section-two {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    color: black;
}


.gallery-images img {
    padding: 4px;
    border-radius: 5%;
}

.gallery-images p {
    text-align: center;
    color: white;
    font-size: 14px;
}

.gallery-text {
    padding: 0 1.5rem;
}

a:hover {
    text-decoration: underline 2px yellow;
}


/* Contact Us */
.contact-us-header {
    margin-top: 70px !important;
    width: 100%;
}

.contact-us-info {
    width: 300px;
    margin: 0 auto;
}

.contact-us-header h4 {
    text-align: center;
}

.contact-us-header ul {
    list-style-type: none;
    padding: 10px 0 0 55px;
}

/* Form */
.form-container {
    background-color: #5A31AD;
    color: white;
    padding-top: 2rem;
}

.form-heading {
    text-align: center;
}

.text-muted {
    color: yellow !important;
}

.form-section {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

form h4 {
    text-align: center;
}

form button {
    padding: 0 20px;
}

form textarea {
    resize: none;
    height: 7rem !important;
}

.form-map-header {
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding-top: 2rem;
}

.form-map input {
    width: 50%;
    height: 2rem;
}

.map-search {
    width: 100%;
}

.map-search i {
    background-color: yellow;
    padding: 7px;
}

iframe {
    width: 100%;
}


/*footer*/
footer {
    background-color: lightgrey;
    height: 50px;
}

.social-icons {
    width: 100%;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icons li {
    width: 24%;
    text-align: center;
    display: inline-block;
}


.social-icons li a {
    color: darkslategrey;
}

@media (min-width: 768px) {
    .our-values-section {
        width: 100%;
    }

    .our-values {
        padding-top: 10%;
    }

    .our-values-img {
        width: 100%;
        height: 100%;
    }

    .our-values-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

/*lg responsive*/
@media (min-width: 992px) {

    nav img {
        width: 15rem;
    }

    i {
        color: black;
    }

    .callout {
        width:100%;
        background-color: #5A31AD;
        margin-top: 70px;
        height: 80vh;
    }

    .callout div {
        text-align: left;
        color: black;
        font-size: 20px;
        height:100%;
    }

    .callout-heading {
        padding: 4rem 2rem 4rem 2rem;
    }

    .callout h3 {
        color: white;
        font-size: 2.5rem;
    }

    .large-hero {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

        .mobile-hero {
        display: none;
    }

    .border-container {
        width:100%;
        position: relative;
    }

    .large-border {
        width:100%;
        display:block;
        position:absolute;
        bottom:-2rem;
        left:0;
    }

    .carousel-indicators {
        bottom: 14px;
    }

    .carousel-inner {
        width: 85%;
        margin: 0 auto;
        border-radius: 0;
        text-align: center;
        height: 310px;
        padding-top: 25px;
    }

    .about-us-section {
        background-color: #ffffff;
    }

    #gallery-header {
        background-color: #5A31AD;
        color: white;
        padding-bottom: 0 !important;
        padding-top: 1.5rem;

    }

    #gallery-header h4 {
        color: yellow;
    }

    .gallery-row {
        background-color: white;
    }

    .gallery-border {
        display: none;
    }

    .gallery-border-white {
        width: 100%;
        display: block;
    }

    .gallery-container {
        background-color: #5A31AD;
    }

    .gallery-container a {
        color: black;
        text-decoration: underline #5A31AD 2px;
    }

    .gallery-text {
        color: black;
    }

    .underline {
        text-decoration: underline #5A31AD 2px;
    }

    #section-two {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .text-2 {
        display: none;
    }

    .contact-us-header {
        background-color: #5A31AD;
        color: white;
    }

    .contact-us-header h4 {
        color: yellow;
    }

    .contact-us-header i {
        color: white;
    }

    .text-muted {
        color: grey !important;
    }

    .form-container {
        width: 100%;
        background-color: #ffffff;
        color: #000000;
    }

    .form-section {
        padding-left: 3rem;
    }

    .form-map-header {
        padding-top: 0;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .map {
        padding-right: 2rem;
    }
}