* {
    margin-top: 0;
    padding: 0;
}

/*<-----Home----->*/
/*callout*/
.callout {
    margin: 70px 0 50px 0;
}

.callout div{
    padding:0;
    text-align: center;
}

.callout p {
    padding-top: 7px;
}

/*footer*/
footer {
    background-color:lightgrey;
    height: 8vh;
}

.social-icons {
    width:100%;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icon a {
    color:darkslategrey;
}

.social-icon {
    width:25%;
    float:left;
    text-align: center;
}

/*responsive*/
@media (min-width: 768px) {
    .callout div {
        text-align:left;
    }
}

/*<-----Gallery----->*/
.gallery {
    margin-top: 70px;
}

/*<-----Contact Us----->*/
.contact-us {
    margin-top: 70px;
}