* {
    margin-top: 0;
    padding: 0;
}

.btn {
    background-color:yellow;
}

/*<-----Home----->*/

/*navbar*/
nav {
    border-bottom: 2px solid whitesmoke;
}

.navbar-toggler {
    border-color: rgba(0,0,0,0)!important;
}

nav img {
    width:11rem;
}

/*callout*/
article {
    width:100%;
}

#callout {
    margin-top: 110px;
}

#callout div{
    padding:0;
    text-align: center;
    font-size: 14px;
}

#callout p {
    padding-top: 6px;
}

#callout a {
    color:white;
}

#callout img {
    width:100%;
}

/*reviews*/
.reviews {
    background-color:#5A31AD;
}

.carousel-inner{
    background-color: white;
    width:90%;
    margin: 0 auto;
    height: 18rem;
    border-radius: 20px;
    top: -7rem;
    text-align: center;
}

.carousel-inner h4 {
    padding: 8px 0;
}

.carousel-indicators {
    bottom: 7rem;
}

.carousel-indicators li {
    background-color:yellow;
    
}

/*About us*/
.about-us {
    text-align: center;
}

video {
    width:100%;
}

/*Achievements*/
.achievements{
    background-color:#5A31AD;
}

.card {
    width:100%;
    height: 150px;
    padding: 1rem;
}

.card p {
    text-align:center;
}

/*Our Values*/
.our-values-section .col-12 {
    width:100%;
    padding-left:0!important;
    padding-right:0!important;
}

.our-values {
    text-align:center;
}

.our-values-img img{
    width:100%;
}

.row {
    margin-left: 0!important;
    margin-right: 0!important;
}

/*footer*/
footer {
    background-color:lightgrey;
    height: 50px;
}

.social-icons {
    width:100%;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icons li {
    width:24%;
    text-align: center;
    display:inline-block;
}


.social-icons li a {
    color:darkslategrey;
}

/*responsive*/
@media (min-width: 768px) {
    .callout div {
        text-align:left;
    }
}

/*<-----Gallery----->*/
#gallery-section{
    text-align: center;
}

#gallery-header {
    margin-top: 110px;
}

#gallery {
    clear:both;
    column-count: 2;
    column-gap: 10px;
    background-color:#5A31AD;
}

#gallery img {
    width:100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/*<-----Contact Us----->*/

.contact-us-header {
    margin-top:110px!important;
    width:250px;
    margin: 0 auto;
}

.contact-us-header ul {
    list-style-type: none;
    padding:10px 0 0 35px;
}

.contact-us-header h4 {
    text-align: center;
}

i {
    color:black;
    margin-right: 1rem;
}

form {
    background-color:#5A31AD;
}

.white-box {
    background-color:white;
}

form h4 {
    text-align: center;

}

form button{
    padding: 0 20px;
}

form textarea {
    resize:none;
    height: 7rem!important;
}

iframe {
    width:100%;
    margin-bottom: 10px;
}