* {
    margin-top: 0;
    padding: 0;
}

nav img {
    height: 3.5rem;
}

/*<-----Home----->*/
/*callout*/
article {
    width:100%;
}

#callout {
    margin-top: 100px;
}

#callout div{
    padding:0;
    text-align: center;
    font-size: 14px;
}

#callout p {
    padding-top: 6px;
}

#callout a {
    color:white;
}

#callout img {
    width:100%;
}

/*Our Values*/

.row {
    margin-left: 0!important;
    margin-right: 0!important;
}


/*footer*/
footer {
    background-color:lightgrey;
    height: 50px;
}

.social-icons {
    width:100%;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icons li {
    width:24%;
    text-align: center;
    display:inline-block;
}


.social-icons li a {
    color:darkslategrey;
}

/*responsive*/
@media (min-width: 768px) {
    .callout div {
        text-align:left;
    }
}

/*<-----Gallery----->*/
#gallery-header {
    margin-top: 50px;
    border: 3px solid #fff44f;
    padding:40px 20px 30px 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom:20px;
}

#gallery {
    clear:both;
    column-count: 2;
    column-gap: 10px;
}

#gallery img {
    width:100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/*<-----Contact Us----->*/

#form-section{
    margin-top:90px!important;
}

form h3 {
    margin-bottom:50px!important;
}

form button{
    padding: 0 20px;
}

form textarea {
    resize:none;
    height: 7rem!important;
}

iframe {
    width:100%;
    margin-bottom: 10px;
}