@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@300;400;500&display=swap');

* {
    margin-top: 0;
    padding: 0;
}

body {
    margin-top: 70px;
    font-family:'poppins', 'arial';
}

.btn {
    background-color:yellow;
    color:black;
}

i {
    color:black;
    margin-right: 1rem;
}

.underline{
    text-decoration: underline 2px yellow;
}

/*navbar*/
nav {
    width:100%;
    font-size:17px;
    height:70px;
    border-bottom: 2px solid whitesmoke;
}

nav li {
    margin-right: 5px;
}

nav .active {
    font-weight: 500;
    text-decoration:underline 4px yellow;
}

nav img {
    width:13rem;
}

.navbar-toggler {
    border-color: rgba(0,0,0,0)!important;
}

/*callout*/
article {
    width:100%;
}

#callout {
    margin-top: 110px;
    font-family:'Patrick Hand', cursive;
}

#callout img {
    width:100%;
}

#callout div{
    padding:0;
    text-align: center;
    font-size: 14px;
}

#callout p {
    padding-top: 6px;
}

.large-hero {
    display:none;
}

/*reviews*/
.reviews {
    background-color:#5A31AD;
}

#carousel-buttons{
    height:210px;
}

.carousel-inner{
    background-color: white;
    width:90%;
    margin: 0 auto;
    height: 18rem;
    border-radius: 20px;
    top: -7rem;
    text-align: center;
}

.carousel-inner h4 {
    padding: 8px 0;
}

.carousel-indicators {
    bottom: 2rem;
}

.carousel-indicators li {
    background-color:yellow;
    
}

/*About us*/
.about-us {
    text-align: center;
}

video {
    width:100%;
}

/*Achievements*/
.achievements{
    background-color:#5A31AD;
}

.card {
    width:100%;
    height: 150px;
    padding: 1rem;
}

.card p {
    text-align:center;
}

/* Our Values */
.our-values-section .col-12 {
    width:100%;
}

.our-values {
    text-align:center;
}

.our-values-img img{
    width:100%;
}

/* Gallery */
#gallery-header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.gallery-heading {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: 4rem;

}

.gallery-container {
    width: 100%;
    font-size:15px;
    color:white;
}

.gallery-border {
    width:100%;
}

.gallery-border-white {
    display:none;
}

.gallery-container p {
    text-align:center;
    font-weight: 500;
    font-size:15px;
}

.gallery-container a {
    color:white;
}

.gallery-row {
    background-color: #5A31AD;
}

.gallery-images {
    padding: 15px;
}

#section-two {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:white;
    color:black;
}


.gallery-images img {
    padding:4px;
    border-radius:5%;
}

.gallery-images p{
    text-align:center;
    color:white;
    font-size: 14px;
}

.gallery-text {
    padding: 0 1.5rem;
}

a:hover {
    text-decoration: underline 2px yellow;
}


/* Contact Us */
.contact-us-header {
    margin-top:70px!important;
    width:100%;
}

.contact-us-info {
    width:300px;
    margin: 0 auto;
}

.contact-us-header h4 {
    text-align: center;
}

.contact-us-header ul {
    list-style-type: none;
    padding:10px 0 0 55px;
}

/* Form */
.form-container {
    background-color: #5A31AD;
    color:white;
    padding-top:2rem;
}

.form-heading {
    text-align: center;
}

.text-muted {
    color:yellow!important;
}

.form-section {
    width:100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

form h4 {
    text-align: center;

}

form button{
    padding: 0 20px;
}

form textarea {
    resize:none;
    height: 7rem!important;
}

.form-map-header {
    text-align: center;
    background-color:#ffffff;
    color:#000000;
    padding-top: 2rem;
}

.form-map input {
    width: 50%;
    height:2rem;
}

.map-search {
    width:100%;
}

.map-search i {
    background-color:yellow;
    padding: 7px;
}

iframe {
    width:100%;
}


/*footer*/
footer {
    background-color:lightgrey;
    height: 50px;
}

.social-icons {
    width:100%;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icons li {
    width:24%;
    text-align: center;
    display:inline-block;
}


.social-icons li a {
    color:darkslategrey;
}

/*lg responsive*/
@media (min-width: 992px) {

    nav img {
        width:15rem;
    }

    i {
        color:black;
    }

    .mobile-hero {
        display:none;
    }

    .large-hero {
        display:block;
    }

    #callout {
        background-color:#5A31AD;
        margin-top: 70px;
    }

    #callout div {
        text-align:left;
        color:black;
    }

    #callout h3 {
        color:white;
    }

    #gallery-header {
        background-color: #5A31AD;
        color:white;
        padding-bottom: 0!important;
        padding-top: 1.5rem;

    }

    #gallery-header h4 {
        color:yellow;
    }
    

    .gallery-row{
        background-color:white;
    }

    .gallery-border {
        display: none;
    }

    .gallery-border-white {
        width:100%;
        display:block;
    }

    .gallery-container {
        background-color:#5A31AD;
    }

    .gallery-container a {
        color:black;
        text-decoration: underline #5A31AD 2px;
    }

    .gallery-text {
        color:black;
    }

    .underline {
        text-decoration: underline #5A31AD 2px;
    }

    #section-two {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .text-2{
        display:none;
    }

    .contact-us-header {
        background-color: #5A31AD;
        color:white;
    }

    .contact-us-header h4 {
        color:yellow;
    }

    .contact-us-header i {
        color:white;
    }

    .text-muted {
       color: grey!important;
    }

    .form-container {
        width:100%;
        background-color: #ffffff;
        color:#000000;
    }

    .form-section {
        padding-left: 3rem;
    }

    .form-map-header {
        padding-top: 0;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .map {
        padding-right: 2rem;
    }


}